@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: #FFFFFF;
}

html {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background-image: url('assets/laserflix.jpg');
    background-size: contain;
}

.principal__introducao {
    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
}

.introducao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque {
    font-family: Rubik;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.escuro {
    color: #ffffff;
}

.verde {
    color: #0FEB7D;
}

h1 {
    font-family: Poppins;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border-color: #1A1615;
}

.conteudo__subtitulo {
    color: #ffffff;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 400;
}

.filmes {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.filmes__cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filmes__titulo {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.filmes__subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.filmes__card__container {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.filmes__card {
    background: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.filmes__card__cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.filmes__card__cabecalho__detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filmes__titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.filmes__avaliacao {
    color: #756A67;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.filmes__avaliacao {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.filmes__card__imagem {
    width: 20rem;
    height: auto;
    margin-left: 7rem;
    margin-right: 7rem;
}

.filmes__usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.filmes__usuario > img {
    border-radius: 20rem;
    width: 1.5rem;
}

.filmes__usuario__nome {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;
}

.footer__copy {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.footer__autor {
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}